.styledBody {
  /*display: flex;
  margin: 0 auto;*/
  font-family: 'Open Sans', sans-serif;
  /*margin: 0;*/
  /*padding: 20em 30em;*/
  font-weight: lighter;
  background-color: #f0f5d4;
}

body {
  /*display: flex;*/
  /*margin: 0 auto;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  background-color: #f0f5d4;
  color: black;
}

.top-bar {
  background: black;
}

h1 {
  font-weight: bold;
  color: black;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #7ab3a8;
}

.about {
  padding-right: 1em;
  text-align: center;
  font-size: 30px;
}

.nav {
  display: flex;
  max-width: 100%;
}

.nav li {
  max-width: 100%;
  margin-right: 15px;
  list-style-type: none;
}

.active {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
}

.form {
  background: white;
  border: 1px solid #00bcd1;
  border-radius: 10px;
  padding: 2vh 2vw 2vh 2vw;
}

.container {
  /* margin: 0 auto;
  max-width: 1200px; */
  padding: 0 1rem;
}

.responsive-image {
  max-width: 90%;
  border-radius: 10px;
  /* padding: 1em 1em 1em 1em; */
}

.cell img {
  display: block;
  margin: 1rem;
}

.soap-text {
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

.container2 {
  /* margin: 0 auto;
  max-width: 1200px; */
  padding: 0 1rem;
}

.responsive-image2 {
  max-width: 90%;
  border-radius: 10px;
  /* padding: 1em 1em 1em 1em; */
}

.cell2 img {
  display: block;
  margin: 1rem;
}

.soap-text {
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .cell2 {
    width: 50%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .cell2 {
    width: calc(100% / 3);
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .cell2 {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell2 {
    width: calc(33.3333% - 2rem);
  }
}
