.styledBody {
  /*display: flex;
  margin: 0 auto;*/
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  /*margin: 0;*/
  /*padding: 20em 30em;*/
  font-weight: 300;
  background-color: #e0d5b8;
}

body {
  /*display: flex;*/
  /*margin: 0 auto;*/
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #e0d5b8;
  color: #71251e;
}

h1 {
  font-weight: bold;
  color: black;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #71251e;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #aa5647;
}

.about {
  padding-right: 1em;
}

.nav {
  display: flex;
  max-width: 100%;
}

.nav li {
  max-width: 100%;
  margin-right: 15px;
  list-style-type: none;
}

.active {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  transition: all .4s ease-in-out;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
  border-radius: 20px;
  padding: 1em 1em 1em 1em;
}

.cell img {
  display: block;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    margin: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}
